<footer class="footer-container">
    <div class="footer">
        <div class="footer-heading heading-1">
            <h2>Support</h2>
            <a href="#">Accessible Banking</a>
            <a href="#">Customer Service</a>
            <a href="#">Tweet @SomeBank</a>
            <a href="#">Feedback</a>
        </div>
        <div class="footer-heading heading-2">
            <h2>On The Go</h2>
            <a href="#">Locate ATM/Branch</a>
            <a href="#">Mobile Apps Directory</a>
        </div>
        <div class="footer-heading heading-3">
            <h2>About</h2>
            <a href="#">Careers</a>
            <a href="#">Diversity & Inclusion</a>
            <a href="#">Corporate Responsibility</a>
        </div>
    </div>
</footer>
