<div class="login-container">
    <h2 class="login-heading">Online Banking Login</h2>
    <form id="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Username</label>
            <input formControlName="username" type="text">
            <small class="login-error-msg" *ngIf="isErrorUsername()">A username is required</small>
        </div>

        <div class="form-group">
            <label>Password</label>
            <input formControlName="password" type="password">
            <small class="login-error-msg" *ngIf="isErrorPassword()">A password is required</small>
        </div>

        <button [disabled]="isErrorUsername() || isErrorPassword()" type="submit" class="login-btn">Log In</button>
    </form>
</div>
