<header id="main-nav">
    <img src="/assets/images/abstract-arrow-with-pages-5603ld.png" alt="logo">
    <nav>
        <ul class="nav-links">
            <li class="nav-item"><a href="#">Home</a></li>
            <li class="nav-item"><a href="#">Contact</a></li>
            <li class="nav-item"><a href="#">About</a></li>
        </ul>
    </nav>

    <div *ngIf="isLoggedIn; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
        <ul class="account-links">
            <p class="greeting">Welcome, {{firstname}}!</p>
            <li (click)="logout()" class="account-item btn"><button class="login-button"><a>Log Out</a></button></li>
        </ul>
    </ng-template>
    
    <ng-template #elseBlock>
        <ul class="account-links">
            <li class="account-item"><a href="#">Register</a></li>
            <li class="account-item btn"><button class="login-button"><a href="#">Log In</a></button></li>
        </ul>
    </ng-template>
</header>
