* {
    --main-bg-color: #33343b;
    --text-color: rgb(204, 204, 204);
}

#main-nav {
    height: 65px;
    background-color: var(--main-bg-color);
    display: flex;
}

nav {
    width: 50%;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    height: 100%;
    width: 50%;
}

.nav-item {
    font-size: large;
}

.nav-item a {
    text-decoration: none;
    color: var(--text-color);
}

.account-links {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 20%;
    margin-left: auto;
}

.account-item {
    margin-right: 20%;
    font-size: large;
}

.account-item a {
    text-decoration: none;
    color: var(--text-color);
}

.login-button {
    border-radius: 40%;
    border-color: var(--main-bg-color);
    background-color: rgba(4, 127, 235, 1);
    cursor: pointer;
}

.login-button:hover {
    background-color: rgba(0, 91, 170, 0.8);
}

.login-button a {
    color: var(--main-bg-color)
}
