<header id="main-nav">
    <img src="/assets/images/abstract-arrow-with-pages-5603ld.png" alt="logo">
    <nav>
        <ul class="nav-links">
            <li class="nav-item"><a href="#">Home</a></li>
            <li class="nav-item"><a href="#">Contact</a></li>
            <li class="nav-item"><a href="#">About</a></li>
        </ul>
    </nav>

    <ul class="account-links">
        <li class="account-item"><a href="#">Register</a></li>
        <button class="account-item login-button"><li><a href="#">Login</a></li></button>
    </ul>
</header>
