<div class="container">
    <background-image></background-image>
    <div *ngIf="!userLoggedIn" class="call-to-action">
        <h1>Create an account to start banking</h1>
        <h2>Or use the form to login &#8594;</h2>
    </div>
    <login-form *ngIf="!userLoggedIn"></login-form>
    
    <div *ngIf="userLoggedIn" id="first-name-card"  
    class="cards">
        <div id="first-name-heading" class="headings">
            First Name
        </div>
        <div id="fn-separator" class="separators"></div>
        <button (click)="editBounded($event)" id="fn-btn" 
        class="card-buttons">
            Edit
        </button>
        <div id="fn-flex-container" class="value-containers">
            <div id="first-name-val" class="profile-values">
                {{ user && user.firstName ? user.firstName : 'N/A' }}
            </div>
        </div>
        <input (blur)="updateUserFocusHandler($event)" 
        (keydown)="updateUserKeyDownHandler($event)" 
        type="text" id="fn-field" class="field-boxes">
    </div>

    <div *ngIf="userLoggedIn" id="last-name-card" 
    class="cards">
        <div id="last-name-heading" class="headings">
            Last Name
        </div>
        <div id="ln-separator" class="separators"></div>
        <button (click)="editBounded($event)" id="ln-btn" 
        class="card-buttons">
            Edit
        </button>
        <div id="ln-flex-container" class="value-containers">
            <div id="last-name-value" class="profile-values">
                {{ user && user.lastName ? user.lastName : 'N/A' }}
            </div>
        </div>
        <input (blur)="updateUserFocusHandler($event)" 
        (keydown)="updateUserKeyDownHandler($event)"
        type="text" id="ln-field" class="field-boxes">
    </div>

    <div *ngIf="userLoggedIn" id="email-card" 
    class="cards">
        <div id="email-heading" class="headings">
            Email
        </div>
        <div id="email-separator" class="separators"></div>
        <button (click)="editBounded($event)" id="email-btn" 
        class="card-buttons">
            Edit
        </button>
        <div id="email-flex-container" class="value-containers">
            <div id="email-value" class="profile-values">
                {{ user && user.email ? user.email : 'N/A' }}
            </div>
        </div>
        <input (blur)="updateUserFocusHandler($event)" 
        (keydown)="updateUserKeyDownHandler($event)" 
        type="text" id="email-field" class="field-boxes">
    </div>

    <div *ngIf="userLoggedIn" id="bday-card" 
    class="cards">
        <div id="bday-heading" class="headings">
            Birthday
        </div>
        <div id="bday-separator" class="separators"></div>
        <button (click)="editBounded($event)" id="bday-btn" 
        class="card-buttons">
            Edit
        </button>
        <div id="bday-flex-container" class="value-containers">
            <div id="bday-value" class="profile-values">
                {{ user && user.birthday ? user.birthday : 'N/A' }}
            </div>
        </div>
        <input (blur)="updateUserFocusHandler($event)" 
        (keydown)="updateUserKeyDownHandler($event)" 
        type="date" id="bday-field" class="field-boxes">
    </div>

    <div *ngIf="userLoggedIn" id="gender-card" 
    class="cards">
        <div id="gender-heading" class="headings">
            Gender
        </div>
        <div id="gender-separator" class="separators"></div>
        <button (click)="editGenderBounded()" id="gender-btn" 
        class="card-buttons">
            Edit
        </button>
        <div *ngIf="!editGenderBtnClicked" id="gender-flex-container" class="value-containers">
            <div id="gender-value" class="profile-values">
                {{ user && user.gender ? ((user.gender === 'CUSTOM' ? user.preferredPronoun : user.gender) | titlecase ) : 'N/A' }}
            </div>
        </div>

        <gender-buttons *ngIf="editGenderBtnClicked" 
        (genderChangeEvent)="setGender($event)" 
        (pronounChangeEvent)="setPronoun($event)"></gender-buttons>
        <button (click)="updateGenderHandler()" *ngIf="editGenderBtnClicked" id="submit-gender" class="card-buttons">Submit</button>
    </div>

    <div *ngIf="userLoggedIn" class="balance-container">
        <span class="balance-heading">Balance</span>
        <div class="separator-vertical"></div>
        <div class="separator-horizontal"></div>
        <span class="acc-heading">Account #</span>
        
        <div class="balance-val-flex-container">
            <div class="balance-val">{{ checkingAccount ? (checkingAccount?.balance === 'N/A' ? checkingAccount?.balance : (checkingAccount?.balance | currency)) : 'N/A' }}</div>
        </div>

        <div class="acc-val-flex-container">
            <div class="acc-val">{{ checkingAccount?.accountNumber ? checkingAccount?.accountNumber : 'N/A' }}</div>
        </div>
    </div>

    <!-- <a routerLink="/transactions"><button *ngIf="userLoggedIn" class="transaction-btn">View Transactions</button></a> -->
</div>