<small *ngIf="isClear && touched" id="input-comp-err">The {{ fieldName }} field is required</small>
<div class="input-comp-container">
    <input type="text" name="userInput" #userInput
    (focus)="handleFocus()" (blur)="handleBlur(userInput.value)"
    class="input-comp-field">

    <div class="input-comp-placeholder-container" 
    [class.input-comp-placeholder-container-onfocus]="inFocus || !isClear">
        <span *ngIf="inFocus || !isClear"
        [class.input-comp-arrow]="inFocus || !isClear" class="input-comp-arrow">
            &#8592;
        </span>
        <span class="input-comp-placeholder"
        [class.input-comp-placeholder-onfocus]="inFocus || !isClear">
            {{ fieldName }}
        </span>
    </div>
</div>
