.gender-btn-flex-container {
    display: flex;
    justify-content: space-between;
}

.radio-buttons {
    border-style: solid;
    color: var(--app-white);
    border-radius: 80px;
    border-color: rgb(107, 107, 107);
    background-color: var(--app-blue);
    width: 120px;
    cursor: pointer;
}

.radio-buttons label {
    margin-left: 6px;
    font-size: 20px;
}

.pronoun-dropdown {
    display: flex;
    justify-content: center;
    font-size: large;
    margin-top: 7%;
}

.pronoun-dropdown select {
    width: 100px;
    height: 30px;
    font-size: 20px;
    margin-left: 6px;
    background-color: rgb(107, 107, 107);
    color: var(--app-white);
    border-style: solid;
    border-color: rgb(107, 107, 107);
    border-radius: 5px;
}