<div class="hm-container">
    <div (click)="handleHamburgerClick()" class="hamburger-icon">
        <div class="line line1"></div>
        <div class="line line2"></div>
        <div class="line line3"></div>
    </div>
    <nav class="list-container">
        <ul class="list-items">
            <li class="list-item"><a href="#">Create Checking</a></li>
            <li class="list-item"><a routerLink="/transactions">Transactions</a></li>
            <li class="list-item"><a href="#">Change Username</a></li>
            <li class="list-item"><a href="#">Change Password</a></li>
            <li class="list-item"><a routerLink="/perform-transaction">Withdraw/Deposit</a></li>
            <li class="list-item">
                <button class="hm-btn">
                    <a href="#">
                        Delete Account
                    </a>
                </button>
            </li>
        </ul>
    </nav>
</div>