* {
    --app-blue: rgb(1, 47, 87);
    --app-black: #33343b;
    --app-white: rgba(211, 208, 208, 0.767);
}

.list-container {
    position: absolute;
    left: -300px;
    top: 0px;
    width: 20%;
    height: 800px;
    background-color: var(--app-black);
    z-index: 1;
    border-radius: 0 30% 50% 0;
}

.engaged .list-container {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 20%;
    height: 800px;
    background-color: var(--app-white);
    z-index: 1;
    border-radius: 0 30% 50% 0;
}

.hamburger-icon {
    width: 40px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    left: 40px;
    top: 20px;
    z-index: 2;
}

.line {
    background-color: var(--app-blue);
    width: 100%;
    height: 3px;
    margin-bottom: 5px;
    transition: all .8s;
}

.engaged .line1 {
    background-color: rgba(202, 4, 4, 0.795);
    transform: rotateZ(-405deg) translate(-5px, 6px);
}

.engaged .line2 {
    opacity: 0;
}

.engaged .line3 {
    background-color: rgba(202, 4, 4, 0.795);
    transform: rotateZ(405deg) translate(-5px, -6px);
}

.list-items {
    position: relative;
    top: 20%;
    list-style: none;
    color: var(--app-blue);
}

.list-item {
    margin-bottom: 20%;
}

.list-item a {
    text-decoration: none;
    font-size: x-large;
    text-transform: capitalize;
}

.list-item a:visited {
    color: var(--app-blue);
}

.hm-btn {
    background-color: rgba(202, 4, 4, 0.795);
    border-style: solid;
    border-color: rgb(107, 107, 107);
    border-radius: 80px;
    cursor: pointer;
    font-size: large;
}

.hm-btn a:visited {
    color:rgb(0, 0, 0);
}