#bg-image {
    position: absolute;
    width: 100%;
    height: 100%;
}

.transaction-container {
    --app-white: rgb(204, 204, 204);
    --app-green: rgba(19, 82, 19, 0.829);
    --app-blue: rgb(1, 47, 87);
    padding-bottom: 80px;
    background-color: rgb(226, 226, 226);
}

.transaction-table {
    position: relative;
    left: 20%;
    width: 60%;
    border-collapse: collapse;
    border-style: solid;
    border-color: var(--app-blue);
}

.transaction-heading {
    position: relative;
    left: 40%;
    padding-top: 30px;
    color: var(--app-green);
}

.heading-separator {
    position: relative;
    left: 40%;
    margin-bottom: 2%;
    background-color: var(--app-green);
    width: 225px;
    height: 3px;
}

.transaction-table th, .transaction-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.transaction-table th {
    background-color: var(--app-green);
    padding-top: 12px;
    padding-bottom: 12px;
}

.transaction-table tr {
    background-color: var(--app-green);
    color: white;
}

.transaction-table tr:nth-child(even) {
    background-color: var(--app-blue);
}

.transaction-table tr:hover {
    background-color: var(--app-white);
}