<div class="register-page-container">
    <background-image></background-image>
    <background-image></background-image>
    
    <div class="register-form-container">
        <h1 class="register-heading">Register</h1>
        <div class="register-separator"></div>
        
        <form class="register-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <app-input *ngFor="let field of inputFields" [fieldName]="field"></app-input>
    
            <gender-buttons (genderChangeEvent)="setGender($event)" 
            (pronounChangeEvent)="setPronoun($event)"></gender-buttons>

            <button type="submit" class="register-btn">Register</button>
        </form>
    </div>
</div>
