<div class="register-page-container">
    <background-image></background-image>
    <background-image></background-image>
    
    <div class="register-form-container">
        <h1 class="register-heading">Register</h1>
        <div class="register-separator"></div>
        
        <form class="register-form" [formGroup]="form">
            <app-input *ngFor="let field of inputFields" [formControlName]="field"
            [fieldType]="field === 'Password' || field === 'Confirm Password' ? 'password' : 'text'" 
            [fieldName]="field"
            [form]="form"
            [formControl]="getFormControl(field)"></app-input>
    
            <gender-buttons (genderChangeEvent)="setGender($event)" 
            (pronounChangeEvent)="setPronoun($event)"></gender-buttons>

            <button (click)="onSubmit()" type="button" class="register-btn">Register</button>
        </form>
    </div>
</div>
